@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    color: #253237; 
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.intro p, .about p {
    max-width: 600px; 
    margin: 0 auto;
    margin-bottom: 10px
}

h1.center {
    text-align: center;
    margin-top: 20px;
    color: #E6E8E6;
    font-weight: 700;
}

header {
    background-color: #253237;
    color: #CED0CE;
    padding: 15px 0;
}

.intro h2 {
    font-size: 2em;
}

.about h2 {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #CED0CE;
    font-weight: 600;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #5C6B73;
}

.intro, .about {
    text-align: center;
    padding: 30px 15px;
    background-color: #DCDCDC;
    border-radius: 10px;
    margin: 20px;
}

.intro img, .about img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.intro img:hover, .about img:hover {
    transform: scale(1.05);
}

ul {
    list-style-type: square;
    padding: 10px;
    text-align: left;
    display: inline-block;
}

.awards-list {
    margin: 20px auto;
    padding-left: 20px;
    max-width: 600px;
    text-align: left;
    list-style-type: disc;
    list-style-position: inside
}

.awards-list li {
    margin-bottom: 8px;
    line-height: 1.6;
    font-weight: 500;
}

footer {
    background-color: #253237;
    color: #CED0CE;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    position: relative;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

footer a:hover {
    color: #5C6B73; 
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    .intro img, .about img {
        width: 150px;
    }
}